{
  "presets": ["@babel/react", "@babel/typescript"],
  "plugins": [
    [
      "module-resolver",
      {
        "extensions": [".js", ".jsx", ".ts", ".tsx", ".css"],
        "root": ["./src"]
      }
    ]
  ],
  "env": {
    "development": {
      "plugins": []
    }
  }
}
